<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Flask 5</title>
</head>
<body>
    <header>
        <footer>
            <div>
                <h1>
                    <p>
                        one flask code has two different html template
                    </p>
                </h1>
            </div>
        </footer>
        {% block body %}{% endblock %}
    </header>
    
</body>
</html>