<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>flask practice</title>
</head>
<body>
    <header>
        <div>
        <select >Menue
            <option>overview</option>
            <option>Blog</option>
            <option>carrer</option>
            <option>client</option>
            <option>Service</option>
            </select>
        </div>
        <div>
            <h1>
                <p>
                    Its a personal Blog site
                </p>
            </h1>
        </div>
    </header>
    <footer>
        <div>
            
        </div>
    </footer>
</body>
</html>