<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>my first flask web</title>
</head>
<body>
    <header>
        <footer>
            <div>
                <h1>
                    <p>this web is develoap by irfan by personal demo</p>
                </h1>
                <p>
                    this web mostly built in python and html. in backend used flask and for frontend used only_html
                </p>
            </div>
        </footer>
    </header>
</body>
</html>